/* GENERAL */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
    font-size: 20px;
}

/* BODY */
body {
    background: white;
    text-align: center;
    color: black;
    transition: background-color 0.5s ease, color 0.5s ease;
}

/* HEADER */
header {
    display: flex;
    justify-content: space-between;
    padding: 20px;
    align-items: center;
}
header h2 {
    font-size: 30px;
    margin-left: 50px;
}
header a {
    text-decoration: none;
    color: black;
}

nav ul {
    list-style: none;
    display: flex;
    gap: 20px;
    margin-right: 50px;
}
nav ul li {
    display: inline;
}
nav ul li a {
    text-decoration: none;
    color: black;
    font-size: 18px;
}

#modo_oscuro {
    background-color: transparent;
    font-size: 15px;
    border: none;
    border-radius: 30%;
    cursor: pointer;
    font-weight: bold;
    padding: 5px;
}
#modo_oscuro:hover {
    background-color: black;
}

/* MAIN */
#perfil {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 100px;
}
#foto_perfil {
    width: 500px;
    height: 500px;
    border-radius: 50%;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
}
#perfil_info {
    margin-left: 50px;
    text-align: left;
}
#perfil h1 {
    font-size: 40px;
    font-weight: bold;
    margin-bottom: 10px;
}
#perfil h3 {
    font-size: 24px;
    color: gray;
}
#perfil p {
    font-size: 20px;
    margin-bottom: 10px;
}

/* BOTONES */
.botones {
    margin-top: 20px;
}
#boton1 {
    background: black;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 20px;
    margin-right: 10px;
    cursor: pointer;
    font-size: 16px;
}
#boton2 {
    background: white;
    color: black;
    border: 2px solid black;
    border-radius: 20px;
    margin-right: 10px;
    cursor: pointer;
    font-size: 16px;
    padding: 10px 20px;
}
#boton1:hover {
    background-color: rgb(77, 77, 77);
}
#boton2:first-child:hover {
    background-color: rgb(225, 225, 225);
}

/* CONTACTOS */
.contactos_links {
    margin-top: 15px;
}
.contactos_items {
    margin-right: 10px;
}
#texto_recuperar {
    background-color: white;
    border-radius: 50px;
    padding: 10px;
    font-size: 15px;
}
#texto_recuperar:hover {
    background-color: rgb(238, 238, 238);
}

/* MODO OSCURO */
.dark-mode {
    background-color: #333333;
    color: white;
}
.dark-mode nav ul li a,
.dark-mode #perfil h1,
.dark-mode #perfil p {
    color: white;
}
.dark-mode header a {
    color: white;
}
.dark-mode #modo_oscuro:hover {
    background-color: white;
}
.dark-mode #foto_perfil {
    background-color: rgb(77, 77, 77);
}
.dark-mode #boton1 {
    background-color: white;
    color: #333;
}
.dark-mode #boton2 {
    background-color: #333;
    color: white;
    border-color: white;
}
.dark-mode #boton1:hover {
    background-color: rgb(203, 203, 203);
}
.dark-mode #boton2:hover {
    background-color: #606060;
}
.dark-mode .contactos_items img {
    filter: brightness(0) invert(1);
}
.dark-mode #texto_recuperar:hover {
    background-color: #989898;
}

/* MEDIA */
@media (max-width: 768px) {
    * {
        margin: 5px;
    }
    header {
        flex-direction: column; 
        align-items: center;
    }
    header h2 {
        margin-left: 0;
        margin-bottom: 10px; 
    }
    nav ul {
        flex-direction: column; 
        margin-right: 0;
    }
    nav ul li {
        margin: 5px 0; 
    }
    #perfil {
        flex-direction: column; 
        margin-top: 50px; 
    }
    #perfil_info {
        margin-left: 0; 
        text-align: center; 
    }
    #perfil_info p {
        margin-top: 10px;
    }
    #foto_perfil {
        width: 200px; 
        height: 200px;
    }
    #perfil h1 {
        font-size: 28px; 
    }
    #perfil h3 {
        font-size: 20px; 
    }
    #perfil p {
        font-size: 18px; 
    }
    .botones {
        flex-direction: column; 
        align-items: center; 
    }
    #boton1, #boton2 {
        width: 80%; 
        margin: 5px 0; 
    }
}